.contPP{
  background-color: black;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  z-index: 20;
}

.cont-login{
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  height: 80vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  
}

.cont-logo{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cont-logo img{
  width: 250px;
  image-rendering: -webkit-optimize-contrast;
   object-fit: fill;
}

.cont-logo h3{
  margin: 0;
  color: #fff;
  font-size: clamp(2rem, 2vw, 2.5rem);
}

.form-login{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inputInicio{
  width: 90%;
  max-width: 300px;
  height: 60px;
  background-color: #fff;
  // padding: 2% 4%;
  border-radius: 8px;
  border: none;
  outline: 0;
  margin: 2% 0;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.inp-user{
  padding: 0 2%;
}

.inp-pass{
  padding: 0 2%;
}

.cont-bts{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cont-bts input{
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  height: 55px;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  transition:all 0.2s ease;
}

.cont-bts input:active{
  transform: scale(1.05);
}

.btn-inicioSes{
  color: #fff;
  background-color: #5271FF;
  border: 2px solid #2A47CB;
}

.btn-crearCu{
  background-color: #FF5757;
  border: 2px solid #CA1745;
  color: #fff;
}