.contpp-ranking{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5% 0;
  min-height: 80vh;
}

.rank-user{
  margin: 5% 0;
}

.cont-tit-punt{
  width: 100%;
  padding: 4px 0;
}

.rank-global{
  margin: 5% 0;
}

.cont-card-ranking{
  display: flex;
  flex-wrap: wrap;
}