.contpp-partidos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 0;
}


.cont-partidos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// .contpp-banner{
//   //max-height: 30vh;
// }