.contpp-partidos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5% 0;
  min-height: 80vh;
}


.cont-partidos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// .contpp-banner{
//   //max-height: 30vh;
// }